In [4]:
install.packages("readxl", repos="http://cran.rstudio.com/" )

Installing package into 'C:/Users/Sahadat__/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'readxl' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Sahadat__\AppData\Local\Temp\RtmpaKnwQE\downloaded_packages

In [7]:
age<- c(22,25,26)
weight<- c(150,165,120)
sex<- c("M","M","F")
name<- c("Sam","Frank","Army")
df<- data.frame(row.names=name,age,weight,sex )
df

      age weight sex
Sam   22  150    M
Frank 25  165    M
Army  26  120    F

In [18]:
library(readxl)
ot<- read_excel("E:\\SUST\\Data Science\\1. Udemy - Data Science and Machine Learning Bootcamp with R\\2.1 R-Course-HTML-Notes.zip\\R-Course-HTML-Notes\\R-for-Data-Science-and-Machine-Learning\\Data Input and Output with R\\output.xlsx")
ot

New names:
* `` -> ...1

   ...1 matrix.1.10.
1  1     1
2  2     2
3  3     3
4  4     4
5  5     5
6  6     6
7  7     7
8  8     8
9  9     9
10 10   10

In [19]:
is.na(mtcars)

                    mpg   cyl   disp  hp    drat  wt    qsec  vs    am    gear
Mazda RX4           FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Mazda RX4 Wag       FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Datsun 710          FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Hornet 4 Drive      FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Hornet Sportabout   FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Valiant             FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Duster 360          FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Merc 240D           FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Merc 230            FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Merc 280            FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Merc 280C           FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Merc 450SE          FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Merc 450SL          FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Merc 450SLC         FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Cadillac Fleetwood  FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Lincoln Continental FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Chrysler Imperial   FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Fiat 128            FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Honda Civic         FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Toyota Corolla      FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Toyota Corona       FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Dodge Challenger    FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
AMC Javelin         FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Camaro Z28          FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Pontiac Firebird    FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Fiat X1-9           FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Porsche 914-2       FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Lotus Europa        FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Ford Pantera L      FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Ferrari Dino        FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Maserati Bora       FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Volvo 142E          FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
                    carb
Mazda RX4           FALSE
Mazda RX4 Wag       FALSE
Datsun 710          FALSE
Hornet 4 Drive      FALSE
Hornet Sportabout   FALSE
Valiant             FALSE
Duster 360          FALSE
Merc 240D           FALSE
Merc 230            FALSE
Merc 280            FALSE
Merc 280C           FALSE
Merc 450SE          FALSE
Merc 450SL          FALSE
Merc 450SLC         FALSE
Cadillac Fleetwood  FALSE
Lincoln Continental FALSE
Chrysler Imperial   FALSE
Fiat 128            FALSE
Honda Civic         FALSE
Toyota Corolla      FALSE
Toyota Corona       FALSE
Dodge Challenger    FALSE
AMC Javelin         FALSE
Camaro Z28          FALSE
Pontiac Firebird    FALSE
Fiat X1-9           FALSE
Porsche 914-2       FALSE
Lotus Europa        FALSE
Ford Pantera L      FALSE
Ferrari Dino        FALSE
Maserati Bora       FALSE
Volvo 142E          FALSE

In [21]:
mat <- matrix(1:25,nrow = 5)
mat
as.data.frame(mat)

     [,1] [,2] [,3] [,4] [,5]
[1,] 1     6   11   16   21
[2,] 2     7   12   17   22
[3,] 3     8   13   18   23
[4,] 4     9   14   19   24
[5,] 5    10   15   20   25

  V1 V2 V3 V4 V5
1 1   6 11 16 21
2 2   7 12 17 22
3 3   8 13 18 23
4 4   9 14 19 24
5 5  10 15 20 25

In [22]:
df<- mtcars
head(df)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [23]:
mean(mtcars$mpg)

[1] 20.09062

In [28]:
df[df$cyl==6,]

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Valiant        18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Merc 280       19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C      17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Ferrari Dino   19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6

In [29]:
df[,c("am","gear","carb")]

                    am gear carb
Mazda RX4           1  4    4
Mazda RX4 Wag       1  4    4
Datsun 710          1  4    1
Hornet 4 Drive      0  3    1
Hornet Sportabout   0  3    2
Valiant             0  3    1
Duster 360          0  3    4
Merc 240D           0  4    2
Merc 230            0  4    2
Merc 280            0  4    4
Merc 280C           0  4    4
Merc 450SE          0  3    3
Merc 450SL          0  3    3
Merc 450SLC         0  3    3
Cadillac Fleetwood  0  3    4
Lincoln Continental 0  3    4
Chrysler Imperial   0  3    4
Fiat 128            1  4    1
Honda Civic         1  4    2
Toyota Corolla      1  4    1
Toyota Corona       0  3    1
Dodge Challenger    0  3    2
AMC Javelin         0  3    2
Camaro Z28          0  3    4
Pontiac Firebird    0  3    2
Fiat X1-9           1  4    1
Porsche 914-2       1  5    2
Lotus Europa        1  5    2
Ford Pantera L      1  5    4
Ferrari Dino        1  5    6
Maserati Bora       1  5    8
Volvo 142E          1  4    2

In [31]:
df$performence<- df$hp/df$wt
head(df)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1
                  performence
Mazda RX4         41.98473
Mazda RX4 Wag     38.26087
Datsun 710        40.08621
Hornet 4 Drive    34.21462
Hornet Sportabout 50.87209
Valiant           30.34682

In [38]:
df$performence<- round(df$performence, 2)
head(df)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1
                  performence
Mazda RX4         41.98
Mazda RX4 Wag     38.26
Datsun 710        40.09
Hornet 4 Drive    34.21
Hornet Sportabout 50.87
Valiant           30.35

In [42]:
mean(subset(df,hp>100,wt>2.5)$mpg)

[1] 17.45217

In [1]:
x<- 1
if (x==1){
    print("Hello")
}

[1] "Hello"

In [2]:
x<-3
if(x%/%2==0){
    print("Even Number")
}else {
    print("Not Even")
}

[1] "Not Even"

In [3]:
x<- matrix()
if(is.matrix(x)==TRUE){
    print("Is a Matrix")
}else {
    print("Not a Matrix")
}

[1] "Is a Matrix"

In [5]:
x<- c(3,7,1)
if(x[1]>x[2]){
    fir<- x[1]
    sec<- x[2]
} else {
    fir<- x[2]
    sec<- x[1]
}
if(x[3]>fir & x[3]>sec){
    thi<- sec
    sec<- fir
    fir<- x[3]
}else if(x[3]<fir & x[3]<sec) {
    thi<- x[3]
}else {
    thi<- sec
    sec<- x[3]
}
print(paste(fir,sec,thi))

[1] "7 3 1"

In [7]:
x<-c(10,20,5)
if(x[1]>x[2] & x[1]>x[3]){
    print(x[1])
}else if(x[2]>x[3]){
    print(x[2])
}else {
    print(x[3])
}

[1] 20

In [1]:
hello_you2<- function(name){
    return(paste('Hello',name))
}
hello_you2("Sam")

[1] "Hello Sam"

In [2]:
prod<- function(num1,num2){
    mul<- num1*num2
    return(mul)
}
prod(3,4)

[1] 12

In [6]:
num_check<- function(num1,vector){
    for(i in vector){
        if(i==num1){
            return(TRUE)
        }
    }
    return(FALSE)
}

num_check(9,c(4,5,7))

[1] FALSE

In [8]:
num_count<- function(num,v){
    count<- 0
    for(i in v){
        if(i==num){
            count= count+1
        }
    }
    return(count)
}
num_count(1,c(1,1,2,2,3,1,4,5,5,2,2,1,3))

[1] 4

In [18]:
bar_count<- function(num){
    pack1= num%%5
    pack2= (num-pack1)/5
    return(pack1+pack2)
}
bar_count(8)

[1] 4

In [19]:
summer<- function(a,b,c){
    out<- c(0)
    if(a %%3 != 0){
        out<- append(a,out)
    }
    if(b%%3!=0){
        out<-append(b,out)
    }
    if(c%%3!=0){
        out<- append(c,out)
    }
    return(sum(out))
}

In [20]:
summer(7,2,3)

[1] 9

In [ ]:
prime_check<- function(a){
    if(a==2){
        return(TRUE)
    }else if(any(a%%2:(a-1)==0)){
        return()
    }
}

In [1]:
library(dplyr)

Warning message:
"package 'dplyr' was built under R version 3.6.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [2]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [3]:
head(filter(mtcars, mpg>20 ,cyl==6))

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
3 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1